[2016-07-28 06:47] feiskyer opened #8 "Container Runtime Interface integration with Hyper"
This document tracks the process of the container runtime interface integration with Hyper.
## Frakti core features
- [x] Manage pods/containers/images according to kubelet [new runtime API](https://github.com/kubernetes/kubernetes/tree/master/docs/proposals/runtime-client-server.md)
  - pod sandboxes
    - [x] create pod sandbox
    - [x] list pod sandbox
    - [x] delete pod sandbox #11
    - [x

[2016-11-16 07:25] feiskyer opened #39 "Get cpu/memory from pod-level cgroups"
Refer https://github.com/kubernetes/kubernetes/pull/31546 and https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/pod-resource-management.md.

Notes: scripts to enable pod-level cgroups in local cluster:

[code]

[2016-11-16 09:12] feiskyer opened #40 "Add support for container logging"
The expected container log path is `PodSandboxConfig.LogDirectory/ContainerConfig.LogPath`

[code]

cc/ @gnawux

[2016-11-17 05:38] feiskyer opened #41 "Add support for streaming requests (attach/exec/port-forward)"
Refer https://github.com/kubernetes/kubernetes/issues/29579.

- [x] execsync
- [x] exec
- [x] attach
- [ ] port-forward

This could be done by using [kubelet streaming liberay](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/server/streaming).

[2016-11-19 06:37] Crazykev commented on #41
@feiskyer I can pick this up if it's ok with you.

[2016-11-20 12:31] feiskyer commented on #41
@Crazykev It includes four interfaces, we can impl them one by one:

- execsync
- exec
- attach
- port-forward

Which one will you start first?

[2016-11-21 07:16] resouer opened #43 "Consider filter out unnecessary pods in ListPodSandbox"
For now we will list all pods (containers) managed by hyperd, thus user created pod will also be parsed by frakti and report `failed to parse container name`.

We need to consider add a filter to it. (e.g. special prefix?)

[2016-11-21 07:16] Crazykev commented on #41
exec and exec-sync I guess, not very sure about port-forward yet.

[2016-11-21 12:06] feiskyer commented on #43
This is actually a bug in ListPodSandbox and ListContainer, should continue the loop instead of reporting a error. Will file a fix later.

[2016-11-21 13:05] #43 closed

[2016-11-23 06:02] #39 closed

[2016-11-24 10:30] Crazykev commented on #41
`exec` and `attach` is blocked by lacking of hyper `TTYResize` api, `port-forword` is blocked by lacking of pod level port-forword support in hyper. I'll continue work here once hyperd is ready.

[2016-11-29 17:37] danehans commented on #8
Why doesn't hyper support OCI through the [cri-o](https://github.com/kubernetes-incubator/cri-o) project?

[2016-11-30 02:02] resouer commented on #8
@danehans Yes, HyperContainer has a OCI runtime named [RunV](https://github.com/hyperhq/runv)
RunV support in cri-o has been proposed here: https://github.com/kubernetes-incubator/cri-o/issues/168

But cri-o+runv is far from being useable, while `hyper.sh` requires a solution that works at least, we need to rely on `frakti` for at least a period of time. Tricky refactoring is needed on both RunV a

[2016-11-30 11:00] feiskyer opened #50 "Support tty resize in exec and attach"
This is because of lacking TTYResize in hyper api.

[2016-11-30 11:00] feiskyer commented on #41
Moved tty resize to #50.

[2016-11-30 11:16] feiskyer opened #51 "Whether/How to support port-forwarding"
Hypernetes doesn't support port forwarding. We should decide whether/how we could support it in frakti.

[2016-11-30 11:16] feiskyer commented on #41
Port forward is not supported now, we should discuss whether/how to support it. Open another issue #51 for it.

[2016-11-30 11:16] #41 closed

[2016-12-06 08:34] feiskyer opened #53 "Kubectl exec: connection refused"
When enabled frakti with kubelet, `kubectl exec` failed with errors:

[code]

[2016-12-06 08:39] feiskyer opened #54 "Kubectl attach: pod busybox-983667326-wlbt7_default not found"
When enabled frakti with kubelet, `kubectl attach` failed with errors:

[code]

Kubelet is panic while doing attach:

[code]

[2016-12-06 09:02] resouer commented on #53
Is this happens on latest hyperd master?

[2016-12-06 09:38] feiskyer commented on #53
It seems the bug of frakti, it doesn't listen to 172.16.1.134:22521 while exec is executing.

[2016-12-06 11:53] feiskyer commented on #54
This is actually a kubelet bug, moved to https://github.com/kubernetes/kubernetes/issues/38188.

[2016-12-06 11:53] #54 closed

[2016-12-06 13:06] #53 closed

[2016-12-13 06:36] feiskyer opened #56 "Service is not accessible"
Kubernetes service is not accessible after pod created, it is related with a hyperd bug introduced recently https://github.com/hyperhq/hyperd/issues/468.

[2016-12-21 08:25] resouer opened #58 "Support CNI network plugin in Frakti"
Need to support CNI plugin in Kubernetes +  Frakti. The implementation requires finding a way to generate network configuration from CNI and pass these information to hyperd in expected syntax.

A very similar approach is CNI plugin support in CRI-O, please check these for details:

https://github.com/kubernetes-incubator/cri-o/pull/237
https://github.com/kubernetes-incubator/cri-o#setup-cni-netwo

[2016-12-21 08:27] resouer commented on #58
assign to @Monster-Z who volunteered to fix this

[2017-01-04 03:31] resouer commented on #39
Note: kubelet is considering detect cgroups of runtime, frakti may need to change to fit that.

Currently, we only support cgroupfs, and does not report error even when kubelet is configured to use systemd.

See: https://github.com/kubernetes/kubernetes/issues/30702

[2017-01-11 07:58] #40 closed

[2017-01-18 11:50] feiskyer opened #66 "Create pod failed: No command specified"
Encountered when verifying PR #62 by running `kubectl run --image=nginx nginx`:

[code]

The problem is `image:<image:"" >`, which expected to be imageRef of nginx image.

cc/ @resouer @YaoZengzeng

[2017-01-19 07:37] #66 closed

[2017-01-19 07:46] feiskyer commented on #56
Already fixed in #67.

[2017-01-19 07:46] #56 closed

[2017-01-19 07:58] resouer opened #68 "Use filter to get image list from hyperd"
Currently filter does not work properly, we are temporarily list all images and skip filter:
https://github.com/kubernetes/frakti/pull/67/files#diff-f7ec4be94a67a866942db2ebd145d763R278

This should be fixed as soon as hyperd being updated.

[2017-01-19 09:08] feiskyer commented on #58
@YaoZengzeng Would you like to continue those CNI related work?

[2017-01-19 09:19] YaoZengzeng commented on #58
@feiskyer Yes, of course

[2017-01-19 09:37] resouer commented on #68
this does not even support in `docker image`, close.

[2017-01-19 09:37] #68 closed

[2017-01-20 07:40] feiskyer commented on #58
TIP: we could avoid network interface scanning after https://github.com/containernetworking/cni/pull/145 is merged.

[2017-01-21 07:55] heartlock opened #69 "cni integration support non bridge plugin"
Now frakti cni integration only support bridge plugin. I think it is necessary to support non bridge plugins like macvlan, calico etc. @feiskyer

[2017-02-04 03:46] feiskyer opened #72 "Upgrade CRI to proto3"
CRI has changed its API to proto3. We should upgrade our vendor.

[2017-02-04 04:31] heartlock commented on #72
I will take this task

[2017-02-10 14:06] #72 closed

[2017-02-12 17:22] kfox1111 opened #75 "hybrid mode"
I really like the idea of being able to schedule pods into lightweight vm's. There are times though when having access to the underlying node is needed. So its rather awkward to only have one at a time. It would be awesome if the docker backend and hyper backend could co'exist on the host at the same time, and pick one or the other based on pod annotation. You could then even possibly use kubernet

[2017-02-13 02:15] resouer commented on #75
@kfox1111 We are generally happy to have this. According to discussions in original issue, https://github.com/kubernetes/kubernetes/issues/29913, kubelet does not have plan to support multi-runtimes in short term plan, and sig-node also agreed multi-runtimes will be better implemented by remote runtime itself. frakti is a nice place to do this.

[2017-02-13 06:20] feiskyer commented on #58
All done.

[2017-02-13 06:20] #58 closed

[2017-02-15 05:48] resouer commented on #58
@YaoZengzeng https://github.com/containernetworking/cni/pull/145 is merged, please update the existing code when you have time.

[2017-02-15 06:09] resouer commented on #75
In stead of adding a proxy in front, like: https://github.com/Mirantis/virtlet/blob/master/pkg/criproxy/proxy.go, we plant to vendor dockershim in order to reuse duplicated modules like networking.  cc @Crazykev

[2017-03-07 19:37] ivan4th commented on #75
As of single-command demo, we envision it as a simple shell script that can be downloaded to a Linux or a Mac with Docker and used to launch kubeadm-dind-cluster (newer version will not need k8s source) and then install Virtlet on it (on Macs it'll be plain `qemu` instead of `qemu-kvm` but that doesn't matter much for demo purpose). Similar approach can be used for other projects that employ CRI p

[2017-03-08 02:56] feiskyer commented on #51
Depending on https://github.com/hyperhq/hyperd/pull/533

[2017-03-09 02:41] feiskyer commented on #50
Depending on https://github.com/hyperhq/hyperd/pull/512

[2017-03-09 11:37] #51 closed

[2017-03-12 09:20] Crazykev commented on #50
Would like take this once hyperhq/hyperd#512 merged

[2017-03-12 15:34] feiskyer commented on #50
@Crazykev hyperhq/hyperd#512  has been merged.

[2017-03-13 06:59] feiskyer commented on #50
Added in #84.

[2017-03-13 06:59] #50 closed

[2017-03-14 02:29] resouer opened #86 "/var/lib/frakti/sandbox does not automatically create"
In fresh new environment:
[code]

@YaoZengzeng Is this directory expected to automatically created?

[2017-03-14 04:55] feiskyer opened #87 "Clean up sandbox checkpoint and network plugin properly"
Currently, sandbox checkpoint is only removed after the pod is deleted successfully. However, if the hyper pod has already been removed outside, the checkpoint will be left over and kubelet will always fail on stopping sandbox.

We should ensure checkpoint and network plugin are cleaned up properly once frakti has detected the sandbox has already been non-exist.

[2017-03-14 07:25] heartlock commented on #86
/var/lib/frakti/sandbox will not be created until you create a sandbox. I will fix it. @resouer

[2017-03-15 01:39] #86 closed

[2017-03-15 12:21] Crazykev opened #91 "Run podsandbox panic"
[code]

[2017-03-15 12:25] Crazykev commented on #91
By the way, I have no cni plugin configured.
[code]

[2017-03-16 02:19] #87 closed

[2017-03-16 07:30] resouer commented on #91
fixed by #92

[2017-03-16 07:30] #91 closed

[2017-03-17 07:21] resouer commented on #75
Thanks @ivan4th, after talk with other frakti maintainers, we reached an agreement that we should not hack container/sandbox ID. So we kept the vendor way. Although less elegant, but comfortable to CRI ...

[2017-03-19 09:16] resouer opened #95 "Pod level resource need to be updated in frakti"
The design doc of pod level resource has been updated with more details, and there's something different from our original design:

according to https://github.com/kubernetes/community/blob/master/contributors/design-proposals/pod-resource-management.md#burstable-qos, there's chance that a BU pod does not have memory limit, so it's mem limit will be set to node's available resource. But frakti wil

[2017-03-20 14:08] #75 closed

[2017-03-21 03:48] feiskyer opened #97 "Create logs dir automatically if it doesn't exist"

[2017-03-21 06:16] resouer opened #98 "Considering support systemd cgroups in frakti"
Since we now have docker as alternative runtime. We should consider support systemd cgroups in frakti because in many distribution (e.g. CentOS), dockerd use systemd as default.

Or, we should let user know that only cgroupfs mode of dockerd is supported at least.

[2017-03-21 06:26] feiskyer commented on #98
+1 for supporting systemd cgroupfs. We could add a flag in frakti allowing users to choose which is actually used.

[2017-03-21 08:20] resouer opened #99 "Integrate Unikernels runtime by using frakti"
**This is a issue for Google Summer of Code 2017, view docs [here](https://docs.google.com/document/d/1Vld4j0B-wk1A1827gIc5fzWHJlzQVqcYQnCAKJwe_ZM/edit).**

Frakti is a well-designed CRI implementation for hypervisor-based runtimes, it would be not so hard to have Unikernels runtime into its picture.

A build-in `unikshim`(or any other name) for frakti need to be developed to manage Unikernels wor

[2017-03-21 08:55] Crazykev opened #100 "Force kill container if timeout"
Current implement `StopContainer()` only cancel request when timeout, this forcibly kill container should guaranteed by underlying runtime, will fix this after https://github.com/hyperhq/hyperd/pull/559 merged

[2017-03-22 04:53] resouer commented on #98
cc @Crazykev , `kubelet/qos` has been vendored, so this work should be easy.

[2017-03-22 05:32] Crazykev commented on #98
@resouer Sure, will do

[2017-03-22 09:44] feiskyer commented on #98
Added by #103.

[2017-03-22 09:44] #98 closed

[2017-03-22 15:03] resouer commented on #97
`--log-dir` dose not work after https://github.com/kubernetes/frakti/pull/101, still don't know why ...

[2017-03-22 23:28] #95 closed

[2017-03-22 23:29] feiskyer commented on #97
@resouer `--logtostderr=false` must be set for logging to files

[2017-03-22 23:45] feiskyer opened #105 "Upgrade to CNI v0.5.1"
Many CNI Plugins don't properly support DEL (See https://github.com/kubernetes/kubernetes/issues/43488 for more details).

We should upgrade to CNI v0.5.1 after https://github.com/kubernetes/kubernetes/pull/43546 is merged.

[2017-03-22 23:48] feiskyer opened #106 "Redundant flags because of introducing dockershim"
There are many redundant flags because of introducing dockershim. We should clean them up.

[code]

[2017-03-23 00:04] feiskyer commented on #105
There are no actions should be taken in frakti actually. But we should document the requirements of cni plugin versions (at least v0.5.1).

[2017-03-23 01:37] resouer commented on #106
This will be fixed together with `log-dir` in the coming PR

[2017-03-23 03:26] feiskyer opened #108 "warning: failed to create symbolic link for host-networked pods"
When creating a pod with host network, it failed to create symbolic link for logs (warning).

pod config

[code]

Kubelet events:

[code]

[2017-03-23 04:47] Crazykev commented on #99
This is an awesome and challenging idea, hope to take this as my project in GSOC 2017 which I've already applied for. I am writing a proposal draft for this, will be glad if frakti maintainer could review for me later.

[2017-03-23 05:05] ethernetdan commented on #105
My understanding is that v0.5.1 is compatible with the currently vendored CNI code. I'm hesitant to make this change this close to releasing 1.6. I think this is a good candidate for 1.7.

[2017-03-23 05:25] feiskyer commented on #105
Will be included in v0.1 release notes.

[2017-03-23 05:25] #105 closed

[2017-03-23 06:25] #106 closed

[2017-03-23 06:26] feiskyer commented on #97
Fixed by #107

[2017-03-23 06:26] #97 closed

[2017-03-23 11:16] resouer opened #109 "Kubernetes node e2e tests"
Node e2e test (conformance) results of latest **frakti** on master branch + **hyperd 0.8.0.1** + **Kubernetes v160-beta.4**.

The test command is:
[code]
The node e2e result is:

[code]
In the 9 failed issues:
6 issues related mound volume with specified mode, which seems buggy in hyperd.
1 issue is know issue of hyperd https://github.com/hyperhq/hyperd/issues/564
2 issues still have no clear root

[2017-03-23 12:03] feiskyer opened #110 "Support CNI network plugins setting dynamically"
The current frakti requires CNI plugins set before starting. However, with latest kubeadm and kubernetes, network plugins may be initialized dynamically.

Related upstream issue: https://github.com/kubernetes/kubernetes/pull/43474.

[2017-03-27 13:42] Crazykev commented on #100
close this since #114 have merged.

[2017-03-27 13:42] #100 closed

[2017-03-28 02:22] feiskyer opened #115 "Support dns domain and options"
Currently, only nameserver is set in `/etc/resolv.conf`. We should also set dns search domain and options.

Expected `/etc/resolv.conf` example:

[code]

[2017-03-30 02:48] feiskyer commented on #109
Related with https://github.com/hyperhq/hyperd/issues/572.

[2017-03-30 07:33] Crazykev commented on #109
latest node e2e result:
[code]

[2017-03-31 11:26] xlgao-zju opened #117 "Stop container time out"
When I use cri-tools to test frakti(docker runtime), I find stop container will time out.

[code]

[2017-04-01 08:21] feiskyer commented on #109
With https://github.com/kubernetes/kubernetes/pull/40804 and latest hyperd, there are still 3 failed test cases:

[code]

[2017-04-01 10:29] feiskyer commented on #109
Filed https://github.com/hyperhq/hyperd/issues/577 for `should project all components that make up the projection API` test.

[2017-04-06 09:12] feiskyer commented on #115
Upstream hyperd fix: https://github.com/hyperhq/hyperd/pull/575

[2017-04-10 13:39] #115 closed

[2017-04-12 07:47] xlgao-zju commented on #117
I find the reason: Use container cmd `sh -c top` will cause stopping time out, `top` will not.

[2017-04-12 07:47] #117 closed

[2017-04-13 01:40] feiskyer opened #120 "Enable full exec command failed tests"
The test is disabled at [#119](https://github.com/kubernetes/frakti/pull/119/files#diff-a1420ece84f1e6c17e782f06c394ad94R71) because of https://github.com/hyperhq/hyperd/issues/604.

We should enable it again after https://github.com/hyperhq/hyperd/issues/604 is fixed.

[2017-04-13 01:42] feiskyer commented on #8
I'm closing this issue since frakti v0.1 has been released for a few days.

[2017-04-13 01:42] #8 closed

[2017-04-17 16:49] gnawux commented on #120
hyperhq/hyperd#604 has been fixed, could you verify if this issue is fixed as well?

[2017-04-18 01:51] resouer commented on #120
@Crazykev Cloud please check if frakti exec e2e can work now?

[2017-04-18 02:29] Crazykev commented on #120
@resouer Sure, will open a PR to test this.

[2017-04-18 03:09] Crazykev commented on #120
Ops, seems not fixed yet, pls see logs in #121
I think this may not related with hyperhq/hyperd#604, since frakti cancel the request first.
[code]

[2017-04-18 11:57] Crazykev commented on #120
https://github.com/hyperhq/hyperd/pull/614 should fix this, let's try it later.

[2017-04-19 07:06] feiskyer commented on #120
Enabled again via #121 .

[2017-04-19 07:06] #120 closed

[2017-04-19 07:06] feiskyer commented on #108
Didn't encounter this problem again in recent runs.

[2017-04-19 07:06] #108 closed

[2017-04-19 07:55] resouer commented on #99
Note that https://github.com/linuxkit/linuxkit is an alternative approach to replace `Unikernels machines` above..

[2017-04-21 06:28] feiskyer opened #122 "Support port mapping"
CNI doesn't do port-mapping today. We could support port mapping via iptables.

[2017-04-21 06:31] feiskyer opened #123 "kubectl attach broken"
Test ENV:
kubernetes 1.6 + frakti + hyperd

Issue:
`kubectl attach` does not return anything

Expected:
`kubectl attach` should return process output in the container

[2017-04-21 06:32] feiskyer opened #124 "nosuchimagehash: No such image: busybox@sha256:32f093055929dbc23dec4d03e09dfe971f5973a9ca5cf059cbfb644c206aa83f"
This is problem caused by hyperd, related with https://github.com/hyperhq/hyperd/issues/613.

[2017-04-21 08:05] feiskyer opened #125 "Fix hostPid support"
We should update dockershim vendor to support hostPid.

Refer https://github.com/kubernetes/kubernetes/pull/44097, which already part kubernetes v1.6.2.

[2017-04-21 19:24] ravisantoshgudimetla commented on #123
@feiskyer Can you add some more information to this. I am interested in working on frakti and new to this code base. So, this will be a good starting point for me.

[2017-04-23 06:33] heartlock commented on #122
we can  use portmapping-manager  to do port mapping via iptables like https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/kubenet/kubenet_linux.go. What do you think? @feiskyer

[2017-04-24 04:24] Crazykev commented on #123
@feiskyer I haven't met any issue with attach when try with latest k8s+frakti+hyperd+hyperstart, while there is some issue when attach(along with container) exit and restart the container. This is a known issue related with https://github.com/hyperhq/hyperd/pull/585 and https://github.com/hyperhq/hyperstart/issues/294

[2017-04-24 05:54] resouer commented on #123
@ravisantoshgudimetla  I updated the description, but it seems been fixed according to crazykev's comment. And a tech detail video about frakti is [here]( https://www.youtube.com/watch?v=phN1Ru0aDa4&list=PLj6h78yzYM2PAavlbv0iZkod4IVh_iGqV&index=51).

[2017-04-24 06:52] feiskyer commented on #123
@Crazykev @resouer Yep, confirmed it has been fixed.

@ravisantoshgudimetla Thanks for the interest. The problems has been fixed in the upstream hyperd. Could you consider to contribute other parts, e.g. issues listed at https://github.com/kubernetes/frakti/issues.

[2017-04-24 06:52] #123 closed

[2017-04-24 06:54] feiskyer commented on #122
@heartlock A standard CNI plugin is more preferred, e.g. https://github.com/containernetworking/plugins/pull/1, which is also depending on https://github.com/kubernetes/kubernetes/pull/42202.

[2017-04-24 11:45] heartlock commented on #122
Cool! I will follow containernetworking/plugins#1

[2017-04-26 10:22] #125 closed

[2017-05-01 17:57] DarkBlaez opened #131 "Kubeadm init - Does not complete"
(Are the deployment instructions even up to date? starting to see some steps left out)

Using Centos 7.3 with usual repo updates

Follow the deployment steps per : https://github.com/kubernetes/frakti/blob/master/docs/deploy.md

Using 3 VMs (1 master, 2 minons) or that's the plan

By the way the repos are updated with current 1.6.2, the "note" below the yum install references an older 1.6.0-beta 4

[2017-05-01 18:52] DarkBlaez commented on #131
After some fiddling around the result is still the same with kubeadm init

Kubelet status
May 01 18:45:01 kube01 kubelet[3713]: E0501 18:45:01.846252    3713 generic.go:239] PLEG: Ignoring events for pod kube-apiserver-kube01/ku...60e70b7a)
May 01 18:45:01 kube01 kubelet[3713]: E0501 18:45:01.850218    3713 kuberuntime_manager.go:844] PodSandboxStatus of sandbox "7b2aadb9808afe2832cac1...
May 01 1

[2017-05-02 01:45] feiskyer commented on #131
@DarkBlaez Thanks for the reporting. kubeadm indeed doesn't complete because of an bug. And steps related with 1.6.0-beta is not required now because there is already stable kubernetes v1.6.2 releases.

Made an update to the deploy steps (#132), could you have a try on the new deployments?

[2017-05-02 14:21] DarkBlaez commented on #131
Thanks. I have spun up a fresh Centos 7.3 VM and will step through the deployment and repost my findings

[2017-05-02 16:09] DarkBlaez commented on #131
Here's the results on a new 3 node install based on the deplpyment guide update.

On the master:
kubeadm init kubeadm init --pod-network-cidr 10.244.0.0/16 --kubernetes-version stable
Completes with no issues, provides join token as expected, however, kubelet.service status is as follows:

● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service

[2017-05-02 16:13] DarkBlaez commented on #131
I would contend that prior to committing to the git, that a fresh install following the deployment guide be done. This would insure whether or not the result will be full functionality. I do this as part of my own development prior to commits. To insure validity of the expected end result. I can continue to refresh and provide additional logs as needed but offering up the suggestion

[2017-05-02 16:23] DarkBlaez commented on #131
On master node reboot, kubelet services enters fail-state as well

-- Subject: Unit kubelet.service has begun start-up
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Unit kubelet.service has begun starting up.
May 02 16:21:33 kube01 kubelet[2519]: I0502 16:21:33.393449    2519 feature_gate.go:144] feature gates: map[AllAlpha:true ExperimentalCr

[2017-05-03 02:53] feiskyer commented on #131
@DarkBlaez Could you provide the full status of kubelet? `systemctl status -l kubelet` and `journalctl -u kubelet -l`?

Kubelet failed to start because of hyperd failure: hyperd refused to start after system rebooted. We will upload a new package to fix this.

[2017-05-03 07:00] feiskyer commented on #131
@DarkBlaez By the way, just added an all-in-one deployment script [cluster/allinone.sh](https://github.com/kubernetes/frakti/blob/master/cluster/allinone.sh).

[2017-05-03 09:38] feiskyer commented on #124
Fixed by https://github.com/hyperhq/hyperd/pull/624.

[2017-05-03 09:38] #124 closed

[2017-05-03 12:07] DarkBlaez commented on #131
Just a question, for the kubeadm init  would it not be best to use 'stable' versus 'latest' , reason is latest installs the most bleeding edge released which ate usually alpha and beta stage. Or is this development only targeted for the very latest dev releases?

[2017-05-03 12:23] feiskyer commented on #131
@DarkBlaez Good catch. Frakti is still on its early stage (alpha), it supports the latest version best. We will move to beta in kubernetes v1.7 release.

[2017-05-05 08:47] amirmc commented on #99
@resouer LinuxKit doesn't 'replace' unikernels. The philosophy is similar but they're different things.

[2017-05-05 09:09] resouer commented on #99
@amirmc Thanks for reminding, we are aware of that and I just update the comment to avoid misleading.

[2017-05-05 10:20] feiskyer opened #134 "Exec command failed via crictl"
[code]

[2017-05-05 18:58] DarkBlaez opened #135 "AllinOne - No need to taint master"
Why is there a taint of the master in the allinone.sh script. I'd recommend leaving it out and letting the end user decide. By default the master should not have pods scheduled unless it's explicitly called out

Just a suggestion. I can see this if it is just a 1 node install so makes sense to test things. Maybe the option to specify.

Would you mind if I work with this script and extend it with o

[2017-05-05 20:00] #135 closed

[2017-05-05 20:20] DarkBlaez opened #136 "No route to host/connection refused"
Performed a fresh install as before, clean Centos 7.3 VM , 1 master, 2 nodes

Everything looked good. Launched heapster, influxdb, grafana, dashboard

ran kubectl proxy as usual , default 127.0.0.1:8001

Accessing the dashboard:
http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/
yields - Error: 'dial tcp 10.244.1.3:9090: getsockopt: no route to host' Trying to

[2017-05-06 00:32] feiskyer commented on #136
@DarkBlaez How the dashboard is deployed, It works ok in my settings:

[code]

Wait a while for pod up and then visit http://hostip:service-nodePort.

[2017-05-06 00:34] feiskyer commented on #131
@DarkBlaez Do you still have problems on this?

[2017-05-06 00:51] DarkBlaez commented on #136
My question in reply is, are you starting from scratch,  clean Centos 7.3, and following the deploy or allinone.sh, then adding a second node? Each time I try this and the reason I've found the issues is from doing a clean install. I do this as common practice. Otherwise if I develop code and check it in, there is no guarantee a fresh install will work since I can't account for prior dependencies

[2017-05-06 00:56] feiskyer commented on #136
Hmm, right. We are only support bridge plugin today, so it is expected for users to configure subnet routes on each host. I will add the guide later.

Could you add subnet routes on each host and try again?

[2017-05-06 01:03] DarkBlaez commented on #136
I would need install guide to step me through adding subnet route to each host. Have not done it prior

[2017-05-08 06:47] feiskyer commented on #136
@DarkBlaez Filed PR #137 for setting subnet routes, could you have a try on it?

[2017-05-08 14:31] DarkBlaez commented on #136
I will start with fresh VMs and let you know results. By the way in the routes where are 10.140.0.2 and 10.140.0.3 coming from?

[2017-05-09 01:30] feiskyer commented on #136
Hmm, sorry for the mistake. They are IPs of each host. Made a fix in the PR.

[2017-05-09 12:25] resouer opened #138 "Update vendor dockershim"
To fix the nil pointer here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/security_context.go#L129

cc @Crazykev Watch out for `staging` part

[2017-05-09 12:37] Crazykev commented on #138
Sorry, I updated in my local branch, while my docker environment broke, and haven't got time to fix it yet. Will check this when come back to Hangzhou.

    Welcome!

                            张浩

                浙江大学  VLIS/SEL实验室

                crazykev@zju.edu.cn

On 05/09/2017 20:25, Harry Zhang wrote: To fix the nil pointer here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kub

[2017-05-09 15:01] DarkBlaez commented on #136
Just for continuity in documentation, deploy.md will need the updated steps which were included in the allinone.sh

Centos
-baseurl=http://yum.kubernetes.io/repos/kubernetes-el7-x86_64-unstable
+baseurl=http://yum.kubernetes.io/repos/kubernetes-el7-x86_64

And the appropriate changes for Ubuntu just to maintain continuity in documentation

Also I assume that the CNI entries for master and each sub

[2017-05-09 15:03] feiskyer commented on #136
@DarkBlaez Thanks. Would you like to file a PR for this?

[2017-05-09 16:26] DarkBlaez commented on #131
We can close this as this was related to another issue

[2017-05-09 16:26] #131 closed

[2017-05-09 17:17] DarkBlaez commented on #136
Within the allinone.sh script I have noticed that when it runs for some reason the "setenforce 0" does not actually disable selinux. This may be do to the way the script runs. If I do each step manually then this gets set properly. I am going to step through this again doing it manually and accounting for the changes which were applied to the allinone.sh script which differs from deploy.md. I recr

[2017-05-09 17:53] DarkBlaez commented on #136
Another item to note, this change is in the deploy.md but not in the allinone.sh. Is this needed for Centos 7?

deploy.md:
sed -i 's/native.cgroupdriver=systemd/native.cgroupdriver=cgroupfs/g' /usr/lib/systemd/system/docker.service

allinone.sh:
<not in the script>

DB

[2017-05-09 18:18] DarkBlaez opened #139 "Frakti - No networks found"
After running the allinone.sh, kubeadm init completes as expect. However, in checking service status, frakti shows this:

● frakti.service - Hypervisor-based container runtime for Kubernetes
   Loaded: loaded (/usr/lib/systemd/system/frakti.service; enabled; vendor preset: disabled)
   Active: active (running) since Tue 2017-05-09 18:12:23 UTC; 3min 56s ago
     Docs: https://github.com/kubernetes

[2017-05-09 18:22] DarkBlaez commented on #139
This is do to setenforce 0 in the allinone.sh not being executed

[2017-05-09 18:22] #139 closed

[2017-05-09 18:50] DarkBlaez commented on #136
Whether I install manually or through the allinone.sh the result is the same. Likewise, the ip routes are simplistic and would work great on a set of VMs sitting on the same subnet. A situation which is ideal at best. I will put this on hold and come back to the project once things are further along. I think once this supports plugable networks like Calico, Flannel , etc I think things will go smo

[2017-05-09 18:50] #136 closed

[2017-05-11 13:11] feiskyer opened #143 "Switch to critest in travis CI"
We could switch most tests to critest, while only keep some frakti-specific tests.

[2017-05-11 13:32] feiskyer commented on #138
Fixed by #142.

[2017-05-11 13:32] #138 closed

[2017-05-12 08:18] Crazykev commented on #109
[code]

Four more network related issues.
BTW, current node-e2e test script have some issue, could fix manually before https://github.com/kubernetes/kubernetes/pull/45707 merged.

[2017-05-17 10:47] Crazykev commented on #109
I run node e2e test in my local environment twice, this is the best result:
[code]
The first one will be fixed by #145 , so ideally, we have only one case fail.

[2017-05-17 12:04] #134 closed

[2017-05-17 12:05] feiskyer commented on #109
@Crazykev Whith version of kubernetes are you running? kubernetes master?

[2017-05-17 12:15] Crazykev commented on #109
@feiskyer Yep, a brand new kubernetes master with
[code]

[2017-05-20 00:02] feiskyer opened #149 "Improve unit tests"
We should improve unit tests coverage.

[2017-05-20 23:09] DarkBlaez opened #150 "[Question] Calico or Flannel"
I'm thinking about spinning this back up across physical machines, about 5 HP Proliants to test. Where are things with supporting Calico or Flannel CNI?

Thanks
DB

[2017-05-21 06:36] feiskyer commented on #150
@DarkBlaez Frakti does support calico and flannel currently, we are hoping to support them in next one or two releases.

[2017-05-21 12:43] DarkBlaez commented on #150
Did you mean currently frakti does not support Calico or Flannel but that you hope to support them in the next one or two releases?

[2017-05-21 12:54] feiskyer commented on #150
yep

[2017-05-21 12:55] DarkBlaez commented on #150
Great, thanks so much

[2017-05-22 14:02] resouer commented on #150
@YaoZengzeng claimed to fix both flannel and calico, assinged

[2017-05-23 15:16] DarkBlaez opened #151 "[Question] Frakti with Rook.io , error"
On a separate system I've installed Kubernetes with kubeadm 1.6.2 & 1.6.4. On the system with standard Kubernetes (non-frakti) Rook.io installs and runs. The rook operator succeeds and runs. On the system with Kubernetes based on Frakti I noticed that the rook operator fails yielding CrashLoopBackOff and no logs generated. Is there some behavior that prevents this from working. I know that on each

[2017-05-23 18:32] DarkBlaez commented on #151
I've resolved this by editing rook-operator.yaml and adding a securityContext of privileged to the container section. Am I correct that in doing so this then has Frakti run with dockerd instead of hyperd?

[2017-05-24 00:56] feiskyer commented on #151
@DarkBlaez Yep, priviledged containers are running in docker. For Rook.io problem, will figure out what's wrong.

[2017-05-24 01:05] DarkBlaez commented on #151
For Rook.io I was able to get the rook-operator to run by setting a securityContext to privileged: true. Now I'm just trying to solve getting the next step, rook-cluster to run

[2017-05-24 03:47] feiskyer commented on #151
rook-operator failed because of OOM, after increasing memory, it could start normally:

[code]

But there are more problems, you can't change the memory for pods `mon0, mon1, mon2` provisioned by rook operator. Kubernetes doesn't support this because of many reasons.

[2017-05-24 06:12] feiskyer commented on #151
Added #152 which could help with the issue. After setting default memory to 512MB, rook.io works properly.

[2017-05-24 15:29] DarkBlaez commented on #151
How would this be manifested once the change is in to allow the default memory and cpu to be configurable. This could vary based on POD or at the container level. Is this something that would be picked up from the yaml or would this have to be configured at the service level for configuring hyperd?

[2017-05-24 16:19] DarkBlaez opened #154 "Kubeadm - When reset issued still tries to load a POD"
Is this normal behavior. Under kubernetes without hyperd, I noticed that there is no attempt to spin up DNS pods. However, when I issue a kubeadm reset to start over there is an attempt by hyperd to start a kube-dns pod:

hyperd[1009]: E0524 10:19:59.988202    1009 persist.go:113] Pod[k8s_POD.0_kube-dns-3913472980-2jz1j_kube-system_af1d4552-3f1e-11e7-aeb4-0021ccd48ab5_10cd9672] failed to load sand

[2017-05-25 00:17] resouer commented on #151
@DarkBlaez frakti will always pick up information from Pod level cgroup, so the resource boundary of your pod VM is consistent with Kubernetes's resource model, nothing changed.

What #152 solves is: when Pod does not have resource limit set, then this Pod is classified as BestEffort (BE) in k8s.

And in Hyper case, BE pod is not allowed (VM should always have resource limit), that's why we need t

[2017-05-25 00:25] DarkBlaez commented on #151
Thank you for explaining. That makes sense to me now. Thanks again

[2017-05-25 02:57] resouer commented on #154
@DarkBlaez The log above is normal which is caused by hyperd restart, don't worry.

Definitely, would you like to send a PR for this? It would be awesome to have you as frakti's  contributor.

[2017-05-25 14:27] DarkBlaez commented on #154
Sure sounds great and will issue PR and contribute

Thanks
DB

[2017-05-26 12:28] #143 closed

[2017-05-28 22:09] DarkBlaez commented on #151
Is this issue something that can be resolved in frakti or should this be run as privileged?

[2017-05-29 06:03] resouer commented on #151
It's already been fixed in frakti by #152 I think

[2017-05-29 12:23] DarkBlaez commented on #151
Ok thanks. I will pull latest code and build so I can test further.

[2017-06-02 06:38] heartlock commented on #122
Good news! containernetworking/plugins#1 was merged. I will start to work on supporting port mapping.

[2017-06-05 02:58] feiskyer commented on #122
@heartlock We need to support cni plugin chaining first. Would you like to file a PR for this first?

Refer https://github.com/kubernetes/kubernetes/pull/42202.

[2017-06-05 03:05] heartlock commented on #122
@feiskyer  Sure, will do it.

[2017-06-05 08:02] feiskyer opened #161 "Fix readonly rootfs container"
Readonly rootfs is not supported because hyperd. We should fix it after  https://github.com/hyperhq/hyperd/pull/638.

[2017-06-05 08:03] feiskyer commented on #109
[code]

Only one conformance tests failed with latest master now, which should be fixed after #161.

[2017-06-05 08:38] resouer commented on #161
Cool! This will be the a good start for beta release! 🥇 ㊗️

[2017-06-05 16:28] DarkBlaez opened #163 "[Version] Clone master branch, frakti version?"
Does the version need updating in the code. I cloned the master branch, compiled, and result of frakti --version is:

I0605 11:24:34.272388   11749 frakti.go:71] frakti version: 0.1

Should this be 0.2? just wondering as I want to make sure I have the latest code with the ability to specify cpu and mem.

Thanks
DB

[2017-06-05 17:57] DarkBlaez opened #164 "Compiled from git repo, restart nodes, kubelet fails"
1. Compiled current code base for frakti to pick up changes for default cpu/mem
2. Copied frakti binary to 1 master, 5 minon nodes
3. Restart all nodes

Result:
**KUBELET**
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   A

[2017-06-05 18:46] DarkBlaez opened #165 "Hyperd - POD failed to load sandbox info: leveldb: not found"
For some reason hyperd is trying to initialize or load a POD.

1. kubeadm reset
2. systemctl restart hyperd

Result:
**HYPERD**
● hyperd.service - hyperd
   Loaded: loaded (/usr/lib/systemd/system/hyperd.service; enabled; vendor preset: disabled)
   Active: active (running) since Mon 2017-06-05 13:43:34 CDT; 27s ago
     Docs: http://docs.hypercontainer.io
 Main PID: 12880 (hyperd)
   CGroup: /sys

[2017-06-05 18:51] DarkBlaez commented on #154
The bigger issue over having to recreate the cni files is more around hyperd per above...

hyperd[1009]: E0524 10:19:59.988202 1009 persist.go:113] Pod[k8s_POD.0_kube-dns-3913472980-2jz1j_kube-system_af1d4552-3f1e-11e7-aeb4-0021ccd48ab5_10cd9672] failed to load sandbox info: leveldb: not found

Not sure why hyperd is trying to load this since a kubeadm reset was issued. This causes a number of pro

[2017-06-06 01:12] feiskyer commented on #163
@DarkBlaez Good catch. Version should be updated indeed.

[2017-06-06 01:28] feiskyer commented on #164
There is huge CRI change in kubernetes v1.7, which causes some incompatible problem (see https://github.com/kubernetes/kubernetes/issues/47012).

Currently, frakti master works with kubernetes master, and frakti kubernetes-v1.6 branch works with kuberentes v1.6.x.

@DarkBlaez could you have a try on frakti kubernetes-v1.6 branch? we have already cherry-picked bug fixes to it.

[2017-06-06 12:22] yiqinguo opened #166 "install kubernetes use this guide"
Hello:
I use this guide install kubernetes cluster,when start apiserver have a error like this:
unable to sync kubernetes service: Endpoints "kubernetes" is invalid: subsets[0].addresses[0].ip: Invalid value: "127.0.0.1": may not be in the loopback range (127.0.0.0/8)

what does that mean?

[2017-06-06 12:43] resouer commented on #166
Do you mean you are using https://github.com/kubernetes/frakti/blob/master/docs/deploy.md ?

`unable to sync kubernetes service: Endpoints` means kubelet is loading an illegal kube-apiserver manifest, which is expected to be generated by kubeadm.

So could you please provide:
1. the content in` /etc/kubernetes/manifests/kube-apiserver.yaml`
2. the k8s version and kubeadm version

[2017-06-06 14:31] #163 closed

[2017-06-06 14:35] DarkBlaez commented on #164
I had noticed that the init pulled in 1.7.0 so reset it with v1.6.4 and still had the same results. At this point the cluster is dead and wont become stable. So I will have to rebuild from OS again to get a clean cluster. This time around I will just stick with 1 master, 1 Minon to simplify troubleshooting and the impact of rebuilds. I choose baremetal over VM to avoid incurring 12% performance hi

[2017-06-06 17:29] DarkBlaez commented on #164
I recompiled from the kubernetest 1.6 branch and reapplied all changes to each node and created a new cluster. Everything is operational again and going to move on to bringing rook.io up given the new changes and see what the result is.

Thanks
DB

[2017-06-06 17:29] #164 closed

[2017-06-06 18:20] DarkBlaez commented on #151
Even with the change in frakti defining defaults and allowing overrides with cpu/mem, rook-cluster fails (mon0, mon1, mon2)

[2017-06-06 22:49] feiskyer commented on #164
@DarkBlaez Cool 👍

[2017-06-07 02:32] feiskyer commented on #166
@yiqinguo Closing this issue since it is not related with frakti. The original question is at https://github.com/feiskyer/kubernetes-handbook/issues/27.

[2017-06-07 02:32] #166 closed

[2017-06-07 02:35] feiskyer commented on #165
@DarkBlaez Which version of hyperd are you using? I didn't reproduce the problem with latest hyperd.

[2017-06-07 03:35] feiskyer commented on #151
@DarkBlaez @resouer Tried again with a new allinone cluster, rook.io works properly after changing the frakti's default memory to 256MB. The full step is here: https://gist.github.com/feiskyer/b023d703355753878053cedf1fa4b538.

[2017-06-09 03:32] #122 closed

[2017-06-12 01:37] feiskyer opened #168 "Update CRI vendor"
CRI package has been renamed to `pkg/kubelet/apis/cri/v1alpha1/runtime`, we should update frakti vendor to work with v1.7.

Refer https://github.com/kubernetes/kubernetes/pull/47113.

[2017-06-12 01:44] resouer commented on #168
Is there any backward compatibility problem to do this?

[2017-06-12 01:45] feiskyer commented on #168
No, v1.7 has not been released yet.

[2017-06-13 06:59] #168 closed

[2017-06-16 01:02] #161 closed

[2017-06-19 11:24] harshapic opened #171 "Not able to join worker nodes with kubeadm join"
Hi,

Followed steps as given in Readme everything is fine upto setting up master node.
But when i try to join worker node with kubeadm it is stuck as below:

kubeadm join --token bxxxxxxx  ip:6443[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[preflight] Running pre-flight checks
[discovery] Trying to connect to API Server "192.168.63.161:6443"
[discovery] Cre

[2017-06-19 11:54] #171 closed

[2017-06-19 11:54] harshapic commented on #171
Got it working by approving "kubectl certificate approve"

[2017-06-19 14:36] feiskyer commented on #171
@harshapic  Cool👍

[2017-06-20 16:22] harshapic opened #173 "Kubectl get nodes - Issue"
https://github.com/kubernetes/frakti/blob/master/docs/deploy.md

followed above steps to deploy frakti,hyperd, kubernetes on vmware-fusion (ubuntu-xenial), with 1master and 2 worker node setup.
workers got successfully registered to master but when i do "kubectl get nodes", its only displays master node.

Same setup if i do only with docker runtime it shows all nodes if i do "kubectl get nodes" (f

[2017-06-20 18:05] harshapic commented on #173
kubeadm init --pod-network-cidr 10.244.0.0/16 --kubernetes-version v1.7.0-alpha.4

instead of kubernetes version latest which is 1.8(alpha) or 1.6.6(stable) its not working.
It worked with v1.7.0-alpha.4 kubernetes version

[2017-06-21 01:29] feiskyer opened #174 "Update CRI version"
We should update CRI version after kubernetes/kubernetes#47818 is merged.

[2017-06-21 01:51] feiskyer commented on #151
The issue should be already fixed, closing it.

[2017-06-21 01:51] #151 closed

[2017-06-21 01:51] feiskyer commented on #165
The issue should be already fixed, closing it.

[2017-06-21 01:51] #165 closed

[2017-06-21 03:03] feiskyer commented on #173
@harshapic Thanks for reporting the problem. Tried both latest and stable kubernetes version:

- stable version (v1.6.6) works properly according to the guide
- latest version (v1.8-alpha) couldn't join node because of certificate not approving automatically (refer [here](https://github.com/kubernetes/kubeadm/issues/291#issuecomment-307374330)).

However, the certificate could be approved manually

[2017-06-21 03:30] feiskyer commented on #174
/cc @xlgao-zju

[2017-06-21 06:17] harshapic commented on #173
Thanks it helped...Now it is showing fine.... My another issue was previous my worker node's hostname all were same as master it is another issue. Now i changed my hostname for all machines. Now its perfect. Exactly followed steps in deployment doc and everything worked fine

[2017-06-21 06:17] #173 closed

[2017-06-21 10:44] harshapic opened #176 "Kubectl exec - Socket connection ERROR"
i have setup 1master 2 worker node setup using vmware_fusion (ubuntu xenial 64 vms). I followed all deployment steps given in documentation.

i am facing issue for kubectl exec to pod:

[code]

Any idea what i am doing wrong?
I am to ping worker-nodes and pod as well, but exec giving problem.

[2017-06-21 10:47] resouer commented on #176
It looks like you are using cross host networking (which is not provided in k8s by default)? The easiest way is to follow: https://github.com/kubernetes/frakti/blob/master/docs/deploy.md#setting-up-the-worker-nodes

[2017-06-21 11:11] harshapic commented on #176
I followed those steps and added "ip route add " on all 3 nodes.
My master node ip address: 192.168.63.168
worker1-node: 192.168.63.169
worker1-node: 192.168.63.170

ex on master node i added like this:

ip route add 10.244.2.0/24 via 192.168.63.169
ip route add 10.244.3.0/24 via 192.168.63.170

[2017-06-21 13:40] feiskyer commented on #176
@harshapic Could you verify whether frakti is listening on IP `192.168.63.179`? It should serve on same IP as kubelet.

[2017-06-21 16:59] harshapic commented on #176
Thanks feiskyer it helped....now i am able do kubelet exec ...changed /etc/hosts file to match ipaddress of frakti and kubelet...Now its working fine.

[2017-06-21 16:59] #176 closed

[2017-06-22 07:48] #174 closed

[2017-06-23 07:07] Crazykev commented on #99
This is the unikernel integration proposal I submitted to GSoC, I just added image management section to it.
https://docs.google.com/document/d/1Vld4j0B-wk1A1827gIc5fzWHJlzQVqcYQnCAKJwe_ZM/edit?usp=sharing

[2017-06-26 01:54] feiskyer commented on #109
All conformance tests passed now. Closing it.

[2017-06-26 01:54] #109 closed

[2017-06-26 02:31] feiskyer commented on #154
The problem should be fixed now. Closing this one.

@DarkBlaez Feel free to reopen it if you still encounter problems.

[2017-06-26 02:31] #154 closed

[2017-06-26 05:30] harshapic opened #179 "Running Vm images on Frakti?"
Is there is any way to run Vm images like(vmdk, qcow2, img etc) directly on frakti?
Just like rancher vm we can convert Vm images to container and then run as container using rancher vm? is something similar available On frakti?

As per my knowledge i can use qcow2 image directly on kvm if i choose kvm as my hypervisor. Then how can i run same qcow2 image on farkti as well if i choose "Frakti -> H

[2017-06-26 05:41] resouer commented on #179
Traditional disk image is not in scope of both k8s and frakti which are all container-centric.

But I'm curious about your use case. So, if you are asking for customized kernel, then BYOK (bring-your-own-kernel) to frakti seems to be a better answer, otherwise, it seems you can always package the file systems into a Docker image.

[2017-06-26 05:58] harshapic commented on #179
Thanks for reply, ya i have scenario where my vm image is in qcow2 format and i need to run it on Kubernets -> Frakti -> hyperd -> KVM. That qcow2 image perfectly running on kvm which we tested it. So here is the the thing i know how to package my qcow2 img file system as container i did it already. I am not really getting BYOK part any examples how can i do it with frakti? Any references please.

[2017-06-26 06:12] harshapic commented on #179
I just went through documentation again....Is this correct where we mention our own kernel?

echo -e "Kernel=/var/lib/hyper/kernel\n\
Initrd=/var/lib/hyper/hyper-initrd.img\n\

Do i need to mention my kernel here for HyperD as part of BYOK?

[2017-06-26 06:34] feiskyer commented on #179
@harshapic Yep, the kernel `/var/lib/hyper/kernel` is built with config [here](https://github.com/hyperhq/hyperstart/blob/master/build/kernel_config), you could replace it with your own one.

[2017-06-26 06:48] harshapic commented on #179
Awesome.. Got it...Another last this thing, Any other Kuberenets Annotations which frakti supports just like:
runtime.frakti.alpha.kubernetes.io/OSContainer : "True" (which uses docker instead hyperd).
 Any other annotations are there just for exploring?

[2017-06-26 06:48] #179 closed

[2017-06-26 07:12] feiskyer commented on #179
@harshapic Only this one for switching to docker now.

[2017-06-27 09:30] Crazykev opened #181 "Unikernel runtime Integration TODOs"
Basic framework:
- [ ] Metadata Store.
    - [x] [P0] In-memory metadata store. #180 @Crazykev
    - [ ] [P1] On-disk metadata store.
- [x] [P0] Sandbox Manager #180 @Crazykev
- [x] [P0] Container Manager #180 @Crazykev
- [ ] [P0] Image Manager #227 @Crazykev

Life Cycle:
- [x] Sandbox Management. #223 @Crazykev
    - [x] [P0] RunPodSandbox
    - [x] [P0] StopPodSandbox
    - [x] [P0] RemovePodSan

[2017-06-28 00:53] feiskyer opened #182 "Releasing frakti v0.3"
We are about to release frakti v0.3 for kubernetes v1.6, which enhanced stability.

TODOs:

- [x] Bump frakti version
- [x] Add release notes
- [x] Add changelog

[2017-06-28 02:36] feiskyer opened #183 "Releasing frakti v1.0"
We are about to release frakti v1.0 for kubernetes v1.7, which enhanced stability.

Depends on https://github.com/hyperhq/hyperd/issues/646.

TODOs:

- [x] Bump frakti version
- [x] Add release notes
- [x] Add changelog

[2017-06-28 02:57] feiskyer commented on #182
Release notes draft:

This release includes enhances and bug fixes.

## Features and updates

- Upgrade to hyperd v0.8.1 and kubernetes v1.6.4
- Have passed full node e2e conformance tests
- Enhanced deployment steps and scripts
- #144 Fix logpath in container status
- #145 Fix CodeExitError in streaming exec
- #147 Set force when removing image
- #152 Make default cpu and memory configurable

##

[2017-06-28 02:57] feiskyer commented on #183
Release notes draft:

This release includes enhances and bug fixes. It has also passed full node e2e conformance tests.

## Features and updates

- Upgrade to hyperd v1.0 and kubernetes v1.7
- Have passed full node e2e conformance tests and CRI validation tests
- Enhanced deployment steps and scripts
- #144 Fix logpath in container status
- #145 Fix CodeExitError in streaming exec
- #147 Set force

[2017-06-28 08:03] #182 closed

[2017-06-29 05:27] #183 closed

[2017-06-30 06:12] harshapic opened #187 "Kubernetes Deployment - "privileged: true" Security Context - Runs on Docker instead Hypercontainer"
Below container i am using in my kubernetes deployment file:
containers:
      - name: bbva
        image: bbvainnotech/kvm:latest
        imagePullPolicy: Always
        stdin: true
        tty: true
        env:
          - name: AUTO_ATTACH
            value: "yes"
        securityContext:
          privileged: true
If i use "privileged: true" i think its not running on Hypercontainer it automa

[2017-06-30 06:19] feiskyer commented on #187
@harshapic yep, privileged containers are running in docker instead of hypercontainer. This is expected behavior.

[2017-07-06 10:15] bruceherve commented on #150
I am a little confused I thought that any CNI  compliant network plugin would work out of the box. as request goes I would love to see support for cilium:  https://github.com/cilium/cilium. their approach to solve container security by using BGP is something interesting in this space. perhaps you could take a look and see if it is worth supporting it.

[2017-07-11 07:57] feiskyer commented on #187
I'm closing this since this is the expected behavior.

[2017-07-11 07:57] #187 closed

[2017-07-21 01:13] YaoZengzeng commented on #150
Actually, flannel has already been supported.

[2017-07-21 03:01] feiskyer commented on #150
Update: flannel master is supported now, hoping to support it in its next release.

[2017-08-03 02:07] resouer opened #190 "Add a flexvolume based Cinder volume plugin to frakti"
**Motivation:**

When we use Cinder as volume plugin for containers, we can directly attach Cinder volume to VM Pod instead of "attach first, then bind mount", this will give us better performance. We will use a flexvolume to implement this.

**Basic usage:**
[code]

Put binary in:
[code]

**Workflow:**
[code]
- [x] Add cinder-flexvolume into frakti
- [ ] We need also validate that only `runV` run

[2017-08-03 07:05] resouer commented on #190
xref: https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/flexvolume

[2017-08-04 08:51] YaoZengzeng opened #191 "Using relay bridge for better cni compatibility"
Steps:

0. Delete all the network configuration in the net ns

1. Setup one relay bridge in net ns and another one in host

2. Use one pair of veth device to connect the two relay bridge

3. Connect the "eth0" in netns to relay bridge in net ns

4. Configure the hyperContainer's network by cni result and the name of relay bridge in host

5. Connect the "tap0" device of hyperContainer to relay devi

[2017-08-04 08:52] YaoZengzeng commented on #191
#192

[2017-08-05 05:00] hwinkel commented on #179
@harshapic have you solved your use case to run a qcow or raw image on kubernetes? we have a similar use case to run a "stock" QCow VM Image. I would be fine trying to convert the format  it but can't really change the content.

[2017-08-05 05:15] harshapic commented on #179
Yes bbva/kvm will help yo run smaller qcow images on kubernetes....via docker runtime..(will not work on hyperd)...tried to run ubuntu qcow2 image which is bigger image footprint didnt worked.

[2017-08-05 05:21] harshapic commented on #179
@hwinkel above comment hope it helps u...let me know anything else looking out....

[2017-08-06 14:54] resouer commented on #190
We need also validate that only `runV` runtime can be used in this volume type

[2017-08-06 15:14] resouer commented on #190
Sub-task: make /etc/kubernetes/cinder.conf a configMap

[2017-08-09 08:10] feiskyer opened #194 "Can not find container by name"
Frakti reports `Can not find container by name` sometimes, while the container does exist in hyperd, and the container name in log is actually the containerID.

Related frakti logs:

[code]

[2017-08-09 15:26] resouer commented on #190
cat /etc/kubernetes/cinder.conf
[Global]
auth-url = http://10.140.0.4/identity_admin/v2.0
username = admin
password = admin
tenant-name = admin
region = RegionOne
[RBD]
keyring = "AQCJH4tZ3g8HDxAAlN9YSG35AuOBdKRGgUympQ=="

[2017-08-09 15:26] resouer commented on #190
RBD_KEY=`cat /etc/ceph/ceph.client.cinder.keyring  | grep 'key = ' | awk -F\ \=\  '{print $2}'`

[2017-08-10 03:08] #69 closed

[2017-08-10 03:12] feiskyer commented on #150
Added in #196.

[2017-08-10 03:12] #150 closed

[2017-08-10 03:27] feiskyer commented on #191
Added in #192.

[2017-08-10 03:27] #191 closed

[2017-08-10 06:56] resouer opened #197 "Restart kubelet failed due to running docker containers"
Restart kubelet will not succeed, unless we manually delete running docker containers (kube-system containers).

Not very sure if it's a bug or only problem in my env.

[2017-08-10 07:12] feiskyer commented on #197
Hmm, didn't encounter this problem, any kubelet/frakti/docker logs related with the problem? e.g. why kube-apiserver pods not recovered by kubelet?

[2017-08-10 07:24] resouer commented on #197
Keep looping unless manually deleted:

[code]

[2017-08-11 12:51] resouer opened #198 "Network namespace is not properly cleaned"
When delete and create a Pod with same name, there's chance to get this error:

[code]

[2017-08-12 08:45] resouer commented on #197
I can re-produce this bug in other new deployments. and the only way to fix is `docker rm -f `docker ps -aq``

[2017-08-12 08:49] resouer opened #200 "Newly installed frakti streaming seems not work"
[code]

Not sure it is related to deployment doc or a bug in frakti for now.

[2017-08-13 07:38] feiskyer commented on #200
Seems a kubelet tls problem, could you enable debugging and check which request is failed? e.g. `kubectl --v=7 exec`

[2017-08-13 11:57] resouer commented on #200
[code]

[2017-08-13 12:02] resouer commented on #200
Another failure I can see is CNI init:
[code]

And the content in CNI dir is:
[code]
Not sure if this is related to streaming server is down?

[2017-08-14 06:02] feiskyer commented on #200
Reproduced the problem, it is because kubelet's csr is not approved:

[code]

After approving kubelet's csr, all things come back:

[code]

[2017-08-14 07:21] #200 closed

[2017-08-15 03:28] #190 closed

[2017-08-15 03:30] feiskyer opened #204 "kube-dns pods crash consistently"
kube-dns pods crash consistently because of too small memory limits (they are running in hyperd). we should increase the memory limits for it, e.g.

[code]

[2017-08-15 10:41] #204 closed

[2017-08-17 08:40] feiskyer commented on #194
cc/ @laijs @gnawux

[2017-08-17 08:40] feiskyer commented on #198
/assign

[2017-08-18 05:52] #198 closed

[2017-08-18 06:41] resouer commented on #149
Begin to take part of this work

[2017-08-21 07:49] resouer commented on #197
Can't re-produce in latest deployment, close

[2017-08-21 07:49] #197 closed

[2017-08-23 02:59] feiskyer commented on #194
Fixed via https://github.com/hyperhq/hyperd/pull/656.

[2017-08-23 02:59] #194 closed

[2017-08-23 09:24] feiskyer opened #216 "Pods with weave network plugin are always creating"
Pods with weave network plugin are always creating, this is because weave plugin creates a veth pair based on a truncated sandboxID, e.g. vethweplk8s_POD. But for hyper runtime, sandboxID always have same prefix `k8s_POD.`, which results in same veth name `vethweplk8s_POD` in weave plugin.

[2017-08-23 09:24] feiskyer commented on #216
/assign

[2017-08-23 14:23] #216 closed

[2017-08-24 09:31] jiangpengcheng opened #218 "volume name too long"
Hi

I met a problem that when a docker image has a `volume`, then the deployment using that image will be failed and complain:

[code]

the test docker image's docker file is quiet simple:

[code]

the frakti version is 1.0, and hyperd 0.8.1

I'm not sure whether this problem is related to frakti or hyperd, as it depends on how to resolve this 'name' error

[2017-08-24 10:18] feiskyer commented on #218
@jiangpengcheng Didn't reproduce the problem. Could you provide the pod manifests as well as kubelet logs?

[2017-08-25 01:28] jiangpengcheng commented on #218
@feiskyer

the deployment's yaml is:

[code]

and the kubelet log:

[code]

and the hyperd error log is:

[code]

[2017-08-25 05:24] jiangpengcheng commented on #218
after I change the StorageDriver of hyperd from **devicemapper** to **overlay**, the problem is gone.

[2017-08-25 06:17] feiskyer commented on #218
/cc @laijs @gnawux Any thoughts on this?

[2017-08-25 06:29] bergwolf commented on #218
kernel dm driver has length limit on device name, defined as `#define DM_NAME_LEN 128` at http://elixir.free-electrons.com/linux/latest/source/include/uapi/linux/dm-ioctl.h#L16

And in the case here:
[code]

[2017-08-25 07:40] bergwolf commented on #218
https://github.com/hyperhq/hyperd/pull/659 should fix this.

[2017-08-25 08:57] feiskyer commented on #218
@bergwolf Thanks

[2017-08-25 14:03] feiskyer commented on #218
Fixed in https://github.com/hyperhq/hyperd/pull/659.

[2017-08-25 14:03] #218 closed

[2017-08-25 20:57] hwinkel commented on #179
@harshapic thanks for that, we will give it a try with a given qcow workload.

[2017-08-25 21:00] hwinkel commented on #179
I also still wondering how you select the BYOK Kernel images, will the kernel be part of the OCI Image, or separately provided?

[2017-08-28 01:00] feiskyer opened #222 "Fix UpdateRuntimeConfig"
We always return success on UpdateRuntimeConfig now, should fix it when podCIDR updates.

[2017-09-04 03:39] resouer opened #225 "Evaluate and remove tmpfs workaround in favor of kubernetes/50596"
See: https://github.com/kubernetes/kubernetes/pull/50596

Will evaluate and remove tmpfs workaround.

[2017-09-05 04:28] resouer commented on #225
This does not work yet.

Filed https://github.com/kubernetes/kubernetes/pull/51927 to fix it. Let's see how it goes.

[2017-09-07 06:19] adelton commented on #225
Shouldn't it be the flexVolume driver doing the cleanup if it added some data there? https://github.com/kubernetes/kubernetes/pull/51927#issuecomment-327544251 suggests that doing `RemoteAll` in the infrastructure code rather than in the individual driver code sounds dangerous.

[2017-09-07 14:18] resouer commented on #225
Confirmed, this work with kubelet 1.7.5+

[2017-09-07 15:05] #225 closed

[2017-09-15 11:37] feiskyer opened #231 "Update kubernetes vendors"
Kubelet CRI has added MountPropagation, we should update kubernetes vendors to include this change.

Refer to https://github.com/kubernetes/kubernetes/pull/46444.

[2017-09-15 11:54] feiskyer opened #232 "Evaluate vendor manage tools"
We are using godep for managing vendors today, but it is not so easy to update standalone packages with godep. We should consider an alternative one. Some candidates include:

- [vndr](https://github.com/LK4D4/vndr): containerd and moby are using it.
- [glide](https://github.com/Masterminds/glide): helm and kompose are using it.
- [dep](https://github.com/golang/dep): dashboard is using it. But it

[2017-09-15 11:54] feiskyer commented on #232
/cc @resouer

[2017-09-15 11:56] feiskyer opened #233 "Golint warnings"
There are some golint warnings (see [here](https://goreportcard.com/report/github.com/kubernetes/frakti) for the list), we'd better to fix them.

[2017-09-17 14:46] resouer commented on #232
Will do this first.

[2017-09-18 09:58] #232 closed

[2017-09-20 02:13] Crazykev commented on #231
@resouer I've already push libvirt patch to upstream, we don't need to use our branch anymore. Could you also update libvirt-go-xml vendor together with this?

[2017-09-20 02:22] feiskyer commented on #231
@Crazykev cool.

[2017-09-20 02:33] resouer commented on #231
@Crazykev The current k8s upstream is not steady, will fix this later.

[2017-09-26 07:49] resouer opened #239 "[BUG] Master branch compiled frakti can not ping host machine"
**BUG:**
Master branch compiled frakti can not ping host machine

**Reproduce:**
Compile frakti from master branch. Install a kubernetes to test against it.

**Report:**
The pods are assigned with right IP addresses and can ping each other.
But non of them can ping address of host machine.

[2017-09-26 07:50] resouer commented on #239
I think it's related to https://github.com/kubernetes/frakti/pull/192 cc @YaoZengzeng

[2017-09-26 13:14] #239 closed

[2017-09-27 06:40] feiskyer opened #241 "Releasing Frakti v1.1"
## TODOs

- [x] Bump version to v1.1 #242
- [x] Release with v1.1 tag with release notes
- [x] Update changelog

## Draft release notes

Frakti v1.1 upgrades to kubernetes v1.8, enhances CNI network plugins and adds experimental unikernel support. It also includes various of enhancements and bug fixes.

## Features and Updates

- #192 Improves CNI plugin compatibility
- #196 #208 Adds general supp

[2017-09-27 07:09] #231 closed

[2017-09-27 15:57] resouer commented on #241
All done, will close it. 🥇

[2017-09-27 15:57] #241 closed

[2017-10-13 06:45] resouer opened #245 "Migrate frakti to "Kata" in next two releases"
[Roadmap]

`runV` and `ClearContainer` will be merged soon, the new project is about to released.

We should migrate Frakti to the new container runtime after the merge. More specifically:

1. Remove dependency on hyperd
2. Move some necessary hyperd code to frakti

[2017-10-18 05:40] resouer opened #250 "CI failed when install hypercontainer"
https://travis-ci.org/kubernetes/frakti/jobs/289321878

[code]

[2017-10-18 05:41] resouer commented on #250
happened in https://github.com/kubernetes/frakti/pull/249

[2017-10-20 07:58] resouer commented on #250
Confirmed locally.

cc @bergwolf would you like to give this a fix?  It seems like `./hack/install-hypercontainer.sh ` need to be updated.

[2017-10-20 12:36] bergwolf commented on #250
ok, I'll take this one.

[2017-10-20 15:41] resouer opened #252 "kube-proxy does not work for hypervisor runtime but OK for OS container"
Very easy to re-produce:

[code]

[code]

And if add OSContainer annotation to Pod, it will be back as endpoint

[Update] Only happens for latest hyperd upstream master.

[2017-10-20 16:08] resouer opened #253 "Image pull is fail for hyper runtime"
[code]

Even though the image is definitely valid. Maybe related to the change in docker to deal with lib path.

[2017-10-20 17:03] resouer commented on #253
A quick fix:
[code]

[2017-10-21 02:54] resouer commented on #252
Can not reproduce on X86 system

[2017-10-21 03:28] resouer commented on #252
Confirmed, can only be reproduced in latest hyperd:

[code]

[2017-10-21 07:47] resouer commented on #252
Root cause, the interface name is wrong in latest hyperd:

[code]

[2017-10-23 12:09] #252 closed

[2017-10-27 07:17] resouer commented on #253
closed by #254

[2017-10-27 07:17] #253 closed

[2017-10-27 07:17] resouer commented on #250
fixed by #255

[2017-10-27 07:17] #250 closed

[2017-10-27 09:29] resouer opened #258 "Release frakti 1.1.1"
There're several bug fixes after 1.1 release. We need to release a new 1.1.1 to include them.

And, I also noticed seems come back: https://github.com/kubernetes/frakti/issues/53

While not confirmed yet.

[2017-10-27 09:33] resouer opened #259 "CI failed because hyperstart build fail"
[code]

cc @bergwolf similar to the previous issue?

[2017-10-28 04:49] #259 closed

[2017-10-28 14:17] resouer commented on #258
#53 is fixed, it's only a configuration bug.

[2017-10-28 14:27] #258 closed

[2017-11-07 07:05] youzibaby opened #264 "kubelet error when start a hypercontainer"
[code]

[2017-11-07 14:45] resouer commented on #264
This is expected.

Hypervisor based container runtime does not implement image fs operations now. It's in the roadmap of next two releases.

[2017-11-07 14:45] #264 closed

[2017-11-07 14:46] resouer commented on #264
If you mean you can not start Pod, please reopen the issue and find out what's causing the pod start failure. Thanks!

[2017-11-13 07:37] resouer commented on #245
[Update] the new project name is "Kata".

The goal of Frakti next release will be a semi-official supported CRI runtime shim for Kata.

[2017-11-15 04:34] resouer opened #267 "Consider use the same Kubernetes release version for frakti."
Since frakti is a 100% Kubernetes container runtime, I would suggest use Kubernetes release version as the frakti release version from 1.9. So we would benefits from:

1. Detectable Frakti & Kubernetes version by:  `curl -sSL dl.k8s.io/release/${KUBE_RELEASE}.txt`

2. Predictable Frakti version for any given Kubernetes version.

cc @bergwolf

[2017-11-21 08:45] resouer opened #268 "Validate with Kubernetes 1.9"
CNI version will be upgraded to 0.6.0  in 1.9: https://github.com/kubernetes/kubernetes/issues/49480

[2017-12-01 03:20] youzibaby opened #269 "Use Docker + runV + Kubernetes?"
emm...I have a question，why k8s can't direct post a pod json to docker with runv, I mean use frakti to reserve requests post to hyperd is goodway？      [runv](https://feisky.xyz/container/runv.html)

[2017-12-05 16:38] resouer opened #271 "Do not use 0.0.0.0 for streaming server address"
Apiserver will got this `0.0.0.0` and send redirected request to it, while then reach the address of master node.

cc reported by @liwei

[2017-12-05 16:39] resouer commented on #271
Instead of let user configure every time, we can use host machine's default address maybe.

[2017-12-10 21:34] resouer commented on #269
@youzibaby It only make sense when mixed runtimes is plug into Kubernetes. i.e. runv and runc handle workloads on same node. Otherwise you will not be able to run host ns containers.

In this case:

1. Docker has no idea of which workload should be handled by runv, only CRI shim has this knowledge (from CRI PodSandbox spec).
2. frakti is the CRI shim.
3. In the coming future, it will become frakti

[2017-12-10 21:34] #269 closed

[2017-12-10 21:36] resouer commented on #245
FYI, we decided to have Kata agent to mixed handle Linux container and VM container, so no need to maintain a cache or CRI proxy at all.

[2017-12-14 06:28] #268 closed

[2017-12-15 22:23] resouer commented on #271
close by #270

[2017-12-15 22:23] #271 closed

[2017-12-15 22:23] resouer commented on #267
closed by #270

[2017-12-15 22:23] #267 closed

[2017-12-27 16:06] AceHack opened #273 "Consider support for Windows Hyper-V"
please support windows hyper-v hypervisor

[2018-01-01 02:42] resouer commented on #273
@AceHack Thanks for bring this up! While may I ask are you suggesting the Hyper-V VM or [Hyper-V container](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/hyperv-container)?

frakti focus on "container" management in Kubernetes, so the later would make more sense.

[2018-01-01 06:37] AceHack commented on #273
Yeah, Hyper-V containers sounds great, what I really want is unikernals in hyper-v via frakti.  This issue working in Hyper-V would be awesome.
https://github.com/kubernetes/frakti/issues/99

[2018-01-02 18:28] resouer commented on #273
@AceHack  The use case would be running docker image with Hyper-V containers just like what you can do with runV/Hyper. Not sure if it's your expectation?

[2018-01-02 19:27] AceHack commented on #273
@resouer Yes, I'm hoping not to have to create specific containers per hypervisor, one container to work on any hypervisor.

[2018-01-05 23:25] resouer commented on #222
/lifecycle frozen

[2018-01-05 23:25] resouer commented on #233
/lifecycle frozen

[2018-01-05 23:25] resouer commented on #181
/lifecycle frozen

[2018-01-05 23:25] resouer commented on #149
/lifecycle frozen

[2018-01-05 23:26] resouer commented on #99
/lifecycle frozen

[2018-01-11 06:31] youzibaby opened #274 "frakti 1.9 error"
![image](https://user-images.githubusercontent.com/15883162/34811491-15084fa4-f6dc-11e7-8b2f-67f8f93ab447.png)

[2018-01-11 18:11] resouer commented on #274
What's your `--streaming-server-addr`? Not set? Or provided value?

frakti will detect the default interface IP as streaming server addr if not provided, does this method work in your host?

[2018-01-12 01:01] youzibaby commented on #274
I  used frakti1.1 by same configuration and environment，not has this error ，I am sure I provided ip addr。

[2018-01-12 02:29] resouer commented on #274
Would you mind to share your frakti systemd configure?

I test it with:

[code]

It works fine.

Also tested:
[code]
It also works.

[2018-01-12 02:57] youzibaby commented on #274
emm...  my conf same as yours ，but not have --streaming-server-addr=10.140.0.2 ，I will try add it and test again，please waiting my msg。

[2018-01-12 04:28] resouer commented on #274
It should work with/with out `--streaming-server-addr` set. But there's possibility that the network interfaces are special on your host machine so `GetLocalIPAddress()` may fail.

[2018-01-12 05:23] youzibaby commented on #274
![image](https://user-images.githubusercontent.com/15883162/34860875-7ca50ed0-f79b-11e7-8730-4d5bdd1fcc59.png)
![image](https://user-images.githubusercontent.com/15883162/34860887-91ecc148-f79b-11e7-9d7a-bb23f04338da.png)
![image](https://user-images.githubusercontent.com/15883162/34860924-cd1f13b0-f79b-11e7-8c5a-7b9ac61d0cd7.png)

so?

[2018-01-12 06:34] resouer commented on #274
I am curious what's the result if you execute `/usr/bin/frakti` on that host?

[2018-01-12 06:42] youzibaby commented on #274
![image](https://user-images.githubusercontent.com/15883162/34862734-d6f55ce0-f7a6-11e7-9dc0-82d5f7459834.png)

[2018-01-12 06:47] resouer commented on #274
So you can see that frakti's streaming server is started. I wonder is there any difference when you are using `systemctl start frakti`?

[2018-01-12 06:54] youzibaby commented on #274
Do you have wechat ？

[2018-01-12 06:58] resouer commented on #274
Wechat is the worst place to discuss issue, please feel free to join http://slack.k8s.io/ to reach me.

[2018-01-12 08:49] #274 closed

[2018-01-12 08:50] youzibaby commented on #274
by my mistake。

[2018-01-16 05:49] xuchenhao001 opened #276 "hyperctl exec cannot find container"
When I want to get into the pod created by k8s, there is an error:
[code]
However, the pod created by `hyperctl run -d ubuntu:16.04` can be accessed by `hyperctl exec -t ubuntu-16.04-9230593623 bash`

[2018-01-16 06:31] resouer commented on #276
Thanks for reaching out.

First of all, you need to use `kubectl exec` to access any container in a Kubernetes cluster.

Second, if you insist on using `hyperctl`, as the error implied, you need to provide the container ID for `hyperctl`. It can be get from `hyperctl list container`

[2018-01-16 06:47] xuchenhao001 commented on #276
Thanks! I misunderstand `POD ID` and `Container ID`

[2018-01-16 06:47] #276 closed

[2018-01-19 07:34] resouer opened #277 "Support GCE Persistent Disk device as Pod volume"
We should support GCE Persistent Disk device as Pod volume. So we can run `Kubernetes + frakti` on GCE production env, because it should give us better performance than 9p volumes

[2018-01-23 01:17] resouer commented on #277
Task: evaluate the input & output for this flexvolume.

Input: device information of GCE disk
Output: mount information written on the volume folder

[2018-01-30 20:05] resouer opened #279 "[1.10] Change to new fields in CRI of namespace sharing"
A break change targeting 1.10 is: https://github.com/kubernetes/kubernetes/pull/58973

Should update CRI manager when it got merged.

[2018-02-01 18:09] sandromello commented on #274
I got the same problem, here's the output of `/usr/bin/frakti`:

[code]

I've tried also with the option: `frakti  --streaming-server-addr=10.0.83.223` but got the same error

I'm using the latest release binary: `https://github.com/kubernetes/frakti/releases/download/1.9/frakti`

[2018-02-01 18:34] resouer commented on #274
@sandromello Could you please post frakti's configure? This issue is closed since it's been proven to be user's mis-configure.

[2018-02-01 18:51] sandromello commented on #274
I've build frakti from master and it worked (following the README.md with go1.9).

[code]

Could the binary in the releases is in a wrong version?

[2018-02-02 00:11] resouer commented on #274
The doc should be a typo. I will publish a new release recently and update the doc.

[2018-02-03 15:36] sandromello opened #281 "Integration with CNI + calico v3.0 fail"
I've followed the `deploy.md` guide and installed frakti with success along with kubernetes (dns, calico, etc). Instead of running the self hosted install of calico in the `docs/networking.md` instructions, I followed the `v3.0` guide of calico: `kubectl apply -f https://docs.projectcalico.org/v3.0/getting-started/kubernetes/installation/hosted/kubeadm/1.7/calico.yaml`
The logs of frakti informs a

[2018-02-03 18:42] resouer commented on #281
@liwei We mat need to check cni lib, which seems unmatch with latest Calico.

[2018-02-04 05:40] liwei commented on #281
it seems calico considered our crafted containerID is not valid:

https://github.com/projectcalico/libcalico-go/blob/d2fe70a7fc26fff6b08f2f91214cd129ec12426e/lib/validator/v3/validator.go#L239

[2018-02-05 18:42] #277 closed

[2018-02-06 08:10] resouer opened #286 "[Image] public image with digest should be pulled and removed [Conformance] [It]"
[code]

[2018-02-07 02:58] hangyan commented on #286
@resouer any progress?

[2018-02-07 03:54] resouer commented on #286
I was recently working on other issues, it would be great if you want to take a shot.

[2018-02-07 03:55] hangyan commented on #286
ok, i'll take a look

[2018-02-08 01:30] resouer commented on #181
Close, as most have been solved

[2018-02-08 01:30] #181 closed

[2018-02-08 01:33] resouer opened #287 "Upgrade vendored dockershim to v1.9.2 release"
Should verify:

1. CNI networking is fine
2. Container lifecycle works fine
3. Flexvolume (GCE pd) works fine

[2018-02-08 01:35] resouer opened #288 "Implement ImageStats API"
For now, `ImageStats` is not implemented. Should fix it.

Caller in kubelet:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_image.go#L133

[2018-02-08 10:00] gnawux opened #289 "hyperd api field update"
just merged hyperhq/hyperd#699, which added `mtu`  field in the network interface description, and removed deprecated `tap` field.

please update the proto when upgrading to next version of hyperd.

[2018-02-08 12:48] liyanyanli commented on #287
I will do it!

[2018-02-08 16:16] bergwolf commented on #286
The failure is because k8s has moved to CRI v1alpha2. frakti needs to be updated accordingly.

[2018-02-08 22:41] resouer commented on #286
@bergwolf I remembered CRI v1alpha2 is for v1.10 that's why I created this TODO: https://github.com/kubernetes/frakti/issues/279

No sure why current tests failed, maybe critools we are using in tests have been updated?

[2018-02-09 03:16] bergwolf commented on #286
@resouer yes critools has been updated to use v1alpha2

[2018-02-09 03:20] resouer commented on #286
@bergwolf I see, before we update the CRI, we need to release a 1.9.x release for us to use.

Also, let me confirm with @Random-Liu if critools can be versioned so CI will be fixed.

Thanks for digging this!

[2018-02-09 13:38] huanwei commented on #288
I will take a look!

[2018-02-11 12:01] liyanyanli opened #297 "Upgrade cri to v1alpha2"
**cri-tool version: master branch**
`[root@frakti1 crictl]# ./crictl ps
DEBU[0000] ListContainerRequest: &ListContainersRequest{Filter:&ContainerFilter{Id:,State:&ContainerStateValue{State:CONTAINER_RUNNING,},PodSandboxId:,LabelSelector:map[string]string{},},}
DEBU[0000] ListContainerResponse: nil
FATA[0000] listing containers failed: rpc error: code = Unimplemented desc = unknown service runtime.

[2018-02-11 19:46] resouer commented on #297
Please note that v1alpha2 is for 1.10, which has not been released. See https://github.com/kubernetes/frakti/issues/279, will close this one.

Please use crictl version v1.0.0-alpha.0  with frakti 1.9.x.

[2018-02-11 19:46] #297 closed

[2018-02-12 03:05] resouer opened #298 "finished with errors: map[addInterface:allocate device failed]"
[code]

There should still be some mismatch of API.

[2018-02-12 03:06] resouer commented on #298
ref #284

[2018-02-12 05:59] #289 closed

[2018-02-12 06:00] #286 closed

[2018-02-23 05:16] #298 closed

[2018-03-06 06:47] diffsz opened #304 "kubelet node register has failed"
we want to try the k8s+frakti+hyperd program recently, after I deploy according to wiki on the steps, start kubelet node found node has not been successfully registered, node status is always NOTREADY, check the frakti’s log found imagefsinfo wrong, see the frakti code found this func is returned nil, do not know if this is not the cause of the problem? Or do I need another configuration? Thanks

[2018-03-06 07:03] resouer commented on #304
ImageFS API is not supported in frakti for now, it's expected. But this is not a blocker for you node failure.

As it is the node that is not ready, please post the logs of kubelet instead of frakti.

[2018-03-07 03:07] diffsz commented on #304
sorry, i get mistake, that log is kubelet‘log

[2018-03-07 03:25] resouer commented on #304
@diffsz  Thanks, but they are not related to kubelet down, could you please post more kubelet log here? Especially the start and stop part.

[2018-03-12 09:19] yu-yang2 opened #307 "kubelet Failed create pod sandbox got wiretype 0, want 2"
I use [https://github.com/kubernetes/frakti/blob/master/docs/deploy.md](url) this guide to deploy k8s with frakti, everything works fine except I run a deploy with `kubectl run nginx --image=nginx`
[code]
and kubelet logs
[code]

[2018-03-12 12:18] gavinmy15 commented on #307
I follow the same tutorial and get the similar problem.

frakti.log
failed: rpc error: code = Unknown desc = proto: bad wiretype for field types.UserInterface.Mtu: got wiretype 2, want 0

[2018-03-13 12:17] liyanyanli commented on #307
frakti has updated [types.proto](https://github.com/kubernetes/frakti/blob/master/pkg/hyper/types/types.proto#L434)(hyperd) to the latest version(in the master branch), so using the released frakti version such as v1.9.1 can avoid this problem.

[2018-03-14 02:08] yu-yang2 commented on #307
@liyanyanli thanks, problem solved, but  `frakti --version` shows version still 1.9, I build it from release v1.9.1.
[code]

[2018-03-14 02:08] #307 closed

[2018-03-14 02:18] yu-yang2 opened #310 "k8s can't exec to pod, unknown runtime: remote"
k8s version: v1.6.4
frakti: v1.9.1
docker: 17.06.1
kubectl exec to a pod timeout with below errors:
[code]

[2018-03-14 02:22] yu-yang2 commented on #310
hyperctl also could not exec to a pod
[code]

[2018-03-14 02:55] resouer commented on #310
imageFs API is not implemented for now, but it's totally unrelated. Could you please post what kubectl returns?

Did you approve certs by following the deployment doc?
[code]

btw, you are using wrong hyperctl exec command args, please check its help info.

[2018-03-14 03:13] yu-yang2 commented on #310
kubectl returns:
[code]
Does the frakti v1.9.1 compatible with k8s v1.6.4? Because our environment is k8s v1.6.4, and `kubectl get csr` return no resources found

[2018-03-14 03:16] resouer commented on #310
Of course not ...  frakti v1.9.1 works with Kubernetes 1.9.1

[2018-03-14 03:19] yu-yang2 commented on #310
so...which version is compatible with k8s v1.6.4? I don't want to upgrade to newest k8s version.

[2018-03-14 03:20] resouer commented on #310
Please read the release note: https://github.com/kubernetes/frakti/releases

[2018-03-14 03:20] #310 closed

[2018-03-14 03:30] yu-yang2 commented on #310
@resouer btw, do we have a slack for better communicate?

[2018-03-14 03:45] yu-yang2 commented on #310
Dose frakti v0.3 has some limitations?

[2018-03-14 17:12] #287 closed

[2018-03-16 03:41] gavinmy15 opened #311 "Network in POD doesn't work fine"
I follow this [document](https://github.com/kubernetes/frakti/blob/master/docs/deploy.md) to establish a one-node k8s cluster with flannel network, hyperd at commit [d493b1bf1f9d21277203d18f08928fd56a3a73af](https://github.com/hyperhq/hyperd/commit/d493b1bf1f9d21277203d18f08928fd56a3a73af) (to avoid using Interface.Mtu because of other issue) and frakti 1.9.1 release.

POD can be created but there

[2018-03-16 03:50] resouer commented on #311
Which frakti release?

[2018-03-16 04:01] gavinmy15 commented on #311
[Frakti github 1.9.1 release](https://github.com/kubernetes/frakti/releases)
[Frakti v1.9.1](https://github.com/kubernetes/frakti/archive/1.9.1.tar.gz)

[2018-03-16 17:36] resouer opened #316 "Upgrade dockershim to 1.10"
Update the dockershim to 1.10

Release check: https://github.com/kubernetes/kubernetes/releases

[2018-03-17 02:12] liyanyanli commented on #316
I will do it.

[2018-03-17 05:19] resouer commented on #316
Please attention to CRI change: https://github.com/kubernetes/frakti/issues/279

[2018-03-17 17:25] resouer commented on #99
close due to containerd+kata work

[2018-03-17 17:25] #99 closed

[2018-03-17 17:25] resouer commented on #233
Fixed by #293

[2018-03-17 17:25] #233 closed

[2018-03-17 17:25] resouer commented on #245
Fixed by GSoC topic

[2018-03-17 17:25] #245 closed

[2018-03-17 17:26] resouer commented on #304
close as inactive, please feel free to re-open it when you come back.

[2018-03-17 17:26] #304 closed

[2018-03-21 18:12] urvil38 opened #319 "[GSoC] Give more technical inside about containerd plugin for kata-container runtime"
Hello, I am interested in plugin of containerd for kata-container runtime.I read the preliminary design doc for containerd plugin.but I am confused about architecture that showed in a doc.Correct me if I am wrong but we are trying to build a replacement for docker runtime "runc" with "kata-container" runtime for kubernetes and later for docker.Is that right?Please give me more information about fo

[2018-03-21 18:17] resouer commented on #319
It should related to @laijs 's area. Let's PING him

[2018-03-21 18:54] ydjainopensource commented on #319
Disclaimer : Not an expert at this. I am also a potential intern for Gsoc. Just giving my 2 cents.

Kata Containers is an opensource project which aims to merge the Intel Clear Containers runtime and the Hyper runv runtimes. Kata already has support for Docker. It aims to be a substitute for runc.

As @urvil38 said normally the container state diagram is docked -> containerd -> runc.

When used wi

[2018-03-21 19:26] ydjainopensource commented on #319
[This](https://docs.google.com/document/d/109pxj-90Ly58ma8CoeRKcMoPWBD0G911E53MeK2zhhA/edit?usp=sharing) doc presented in an earlier architecture committee meeting may be helpful if you wish to learn more about the architecture of the kata runtime

[2018-03-22 02:54] laijs commented on #319
@urvil38 dockerd -> containerd -> kata-runtime is already a ready solution that kata-containers community has worked long with as the same GSoC doc says. This solution is excellent expect that the data path too long: dockerd -> containerd -> containerd-shim -> kata-shim -> [vm: agent -> container]. In this paradigm, containerd-shim is very specified for containerd+runc which hold something includi

[2018-03-22 03:11] resouer commented on #316
@liyanyanli If you will do this. You can start now, please update the vendor to v1.10.0-rc.1

And later, when 1.10.0 stable is out, update vendor to it.

[2018-03-22 03:14] urvil38 commented on #319
thanks, @ydjainopensource and @laijs.
Any data are available for how much time it will take to create vm sandbox and container inside it with kata-container runtime?I am curious about how much time hypervisor-based container take to start and stop than normal OS based container.

[2018-03-22 05:09] ZeroMagic opened #320 "[GSoC] Some questions about "containerd-kata""
Now, I am writing the proposal of "containerd-kata". There are some questions.

1. I want to know if we need to add image management in the project "containerd-kata".  @laijs

2. I think that in the project "containerd-kata", what I need to do is transfer the variables in annotations.go(https://github.com/containerd/cri/blob/master/pkg/annotations/annotations.go) to containerd so that containerd c

[2018-03-22 09:18] laijs commented on #319
less than 100ms when work with proper VM factory.

[2018-03-22 09:33] liyanyanli commented on #316
Ok, I see. thank you very much！

[2018-03-22 17:23] resouer commented on #320
Yes of course image management should be implemented, otherwise how can you start container?

But you can leave the image audit features as NICE TO HAVE.

Using annotation is a possible way, but I would also encourage your brainstorm it. The policy is: do not change code in containerd/cri-containerd as possible.

[2018-03-23 02:57] ZeroMagic commented on #320
What is the image audit features ? I google it. Nothing is helpful for me. And I have asked others. No one can answer me clearly.

[2018-03-23 03:14] resouer commented on #320
[code]

[2018-03-23 03:18] ZeroMagic commented on #320
@resouer Got it. Thx.

[2018-03-23 03:21] #320 closed

[2018-03-24 05:08] #319 closed

[2018-03-24 05:33] urvil38 opened #321 "[GSoC] Which Category to choose for this GSoC project"
which category is applied for this project?There is no category regarding to **containerd**.Should I applied for **kubernetes** or **security**?

[2018-03-24 06:45] urvil38 commented on #321
which category is applied for this project?There is no category regarding to **containerd**.Should I applied for **kubernetes** or **security**?

[2018-03-24 18:57] #321 closed

[2018-03-24 19:03] resouer commented on #321
Choose kubernetes please, there's nothing related to security.

[2018-03-26 02:34] liyanyanli commented on #316
Should we implement dockershim inside frakti and not rely on dockeshim of Kubernetes?

Kubernetes PR: [dockershim: remove the use of kubelet's internal API](https://github.com/kubernetes/kubernetes/commit/e8da890aee15e36f089d64098fd25b88266a52b3#diff-99802aef301353226cc4233749846c68)

[2018-03-26 02:43] resouer commented on #316
@liyanyanli dockershim is a workaround, we can keep it for now. In next or next next release, we will not use dockershim and cooperate with containerd instead. You can help with that part if you are interested.

See: https://github.com/cncf/soc#katacontainers-support-for-containerdcri-containerd

[2018-03-27 21:30] resouer commented on #311
@gavinmy15  Sorry, I can't re-produce this issue and it's very weird, I can not tell why you ping master and things recover ...

Can you please deploy a new cluster in new machines?

[2018-03-27 21:38] resouer commented on #316
@liyanyanli [1.10.0](https://github.com/kubernetes/kubernetes/releases/tag/v1.10.0) is out now. Please update the vendor to this stable release if possible.

If you have already finish the work, please just send out and we can update it to 1.10.0 stable later.

[2018-03-28 02:13] liyanyanli commented on #316
I have updated the vendor to 1.10.0. However, the changes made by [dockershim](https://github.com/kubernetes/kubernetes/commit/e8da890aee15e36f089d64098fd25b88266a52b3#diff-16c44fd3516b9794e49c760f0af2d777L104) make frakti have the following problems when compiling and I am trying to solve it.

example:
[code]
I have two solutions:

1.  Implement dockershim inside frakti

2. Frakti starts dockersh

[2018-03-28 17:47] resouer commented on #316
@liyanyanli Please choose 2.

Just make frakti work like a CRI proxy. Thank you very much!

[2018-03-30 17:44] resouer opened #323 "Deprecate dockershim in vendor and change to use new containerd based architecture"
As the title said.

The code change will happen in this branch: https://github.com/kubernetes/frakti/tree/containerd-kata

And eventually be spitted to merge part to containerd org and others frakti master branch.

[2018-04-03 00:21] t3hmrman commented on #323
Just wanted to note that Frakti v2 looks really exciting to me -- one of my biggest wants was to use frakti as it exists now with cri-containerd (which is what I run now). It looks like frakti v2 will "upgrade" (IMO, some may not consider docker -> containerd an upgrade possibly) both the runV side and the docker side.

Actually came in to make a ticket requesting clarification on how to use conta

[2018-04-03 00:31] resouer commented on #323
@t3hmrman Exactly, we are actively working on containerd + Kata with folks from Google and Hyper. There will be no docker & dockershim needed in the frakti v2 project.

[2018-04-09 03:00] gavinmy15 commented on #311
@resouer
New cluster works fine, I cannot re-produce the environment too.

[2018-04-11 02:42] #316 closed

[2018-04-11 02:43] #279 closed

[2018-04-30 13:35] kincl commented on #288
Running kube 1.9 and running into these errors that seem to be related:

[code]

It appears that the container will not start if the kubelet cannot get image stats.

[2018-04-30 16:48] kincl commented on #288
I solved my problem by setting `--image-service-endpoint=unix:///var/run/frakti.sock` in addition to `--container-runtime-endpoint` in the kubelet. This way frakti returns a Not Implemented error and the kublet allows the pod to be created.

[2018-05-24 14:37] jessfraz opened #331 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-25 16:31] resouer commented on #331
Done! Issue closed, thanks Jessie!

[2018-05-25 16:31] #331 closed

[2018-06-05 01:43] fanux commented on #311
Can frakti work with calico network?

[2018-06-05 02:56] resouer commented on #311
@fanux Yes, it works with any bridged CNI plugin

[2018-06-06 16:01] enzian opened #333 "Hyperd: got wiretype 0, want 2"
After installing according to the deployment guide, I get an error from frakti when calling hyperd:

[code]
Anybody know what I did wrong? Is this caused by a mismatch of version between frakti and hyperd?

[2018-06-07 02:00] bergwolf commented on #333
@enzian Please install hyperd from source. The current release of hyperd prebuilt package does not match the one used by frakti.

[2018-06-07 20:01] enzian commented on #333
hmm, after a while I figured out that this might be it - so I'm on that! I would be nice to note this in the deployment guide for the 1.10 version ;-)

[2018-06-10 19:06] enzian commented on #333
ok, so, built my own hyperd and hyperctl binaries - and Frakti and Hyperd started chatting - but containers consistently fail:

[code]

The `failed to start container: Create new container failed: Error: ` is not terribly helpful for me ;-) @bergwolf  do you know if I'm still having a dependency issue here?

[2018-06-11 00:56] bergwolf commented on #333
@enzian Can you please enable bogus debug info when starting hyperd, so that we get more logs about what has happened? You can do it by appending something like `--v=7` to hyperd arguments.

[2018-06-11 09:50] enzian commented on #333
ok, bumped up the verbosity to 7, [this is what I've got](https://gist.github.com/enzian/08442da82011728685546a157622e046)

[2018-06-13 10:20] bergwolf commented on #333
So the failure is here:

[2018-06-14 07:46] enzian commented on #333
Thanks for pointing that out! Now what else do I need to build to get this to run? ;-)

[2018-06-14 10:35] enzian commented on #333
What I else I need to build? The answer was `hyperstart` the kernel and image have to match hyperd... This means so far - everything is working - well except kubedns which keeps crashing but that's another story!

[2018-06-14 10:36] #333 closed

[2018-06-14 12:43] enzian commented on #333
For those who want to run the 1.10.0 version here are some pointers:

You can follow the deployment guide in this repo but you cannot use the distributed version of the hyperhq tools as described since the interfaces the 1.10 release of frakti requires from hyperd do not match the latest ones released by hyperd. **This means you'll have to build your own hyperd binaries.**

So here's a step-by-ste

[2018-06-15 01:09] bergwolf commented on #333
@enzian Thanks a lot for updates! We should release a new version of hypercontainer binaries to avoid such confusion!

[2018-06-15 06:15] enzian commented on #333
that would certainly solve this issue - on the other hand - I learnt a lot about hyper in the mean time ;-)

[2018-06-26 04:09] resouer opened #334 "Update frakti to 1.11"
As the title said :-)

cc @liyanyanli

[2018-07-25 07:05] tossmilestone commented on #288
@resouer If no one is working on this, I could help to implement it

[2018-08-04 04:39] #273 closed

[2018-08-30 04:12] resouer commented on #323
The containerd plugin has been temporarily implemented on this dev branch:  https://github.com/hyperhq/kata-runtime/tree/shimv2

[2018-08-30 09:07] t3hmrman commented on #323
Hey @resouer to make sure I clearly understand, which of these are right:

- Frakti v2 will be a containerd plugin
- Frakti v2 will be rolled into the kata-containers

Those two facts seem at odds, because `containerd` already has an untrusted workload runtime option (on which you could set `kata-runtime` to run your untrusted workloads) -- Also, it doesn't really make sense for Frakti to merge in

[2018-08-31 00:42] resouer commented on #323
Hi @t3hmrman, not sure if you have read the RuntimeClass proposal? See: https://github.com/kubernetes/community/blob/master/keps/sig-node/0014-runtime-class.md

It's exactly where we are going. The trusted/untrusted annotations will be deprecated, and frakti v2 will only include several containerd focus plugins to handle runtimes, networking, and storage. And of course, a doc about how to set thes

[2018-08-31 15:59] t3hmrman commented on #323
hey @resouer Thanks so much for the pointer, I haven't actually seen the RuntimeClass proposal at all.

That makes total sense, frakti becoming a well-integrated containerd plugin sounds great -- I'm a huge fan of containerd (+ cri-containerd, the intergration was pretty smooth for them).

Thanks for taking the time to explain!

[2018-09-04 02:50] gavinmy15 commented on #311
It's fine to close because I cannot reproduce the issue again.

[2018-09-07 01:58] #311 closed

[2018-09-11 22:24] spiffxp opened #343 "Use tide for PR merging"
This is a [core repository](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#core-repositories).  As such, it [needs to use the same merge automation as the rest of the project](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-1)

I have a PR open that will address this at an org-wide level: https

[2018-09-12 01:29] resouer commented on #343
Thanks a lot @spiffxp for helping enable this, it's awesome!

Just LGTM on the linked PR.

[2018-09-17 17:11] #343 closed

[2018-09-18 05:09] #334 closed

[2018-09-18 05:10] resouer opened #344 "Upgrade frakti to Kubernetes v1.12"
The Kubernetes v1.12 release is on-the-fly.

@liyanyanli Would you be able to help?

[2018-09-30 16:48] #323 closed

[2018-10-18 08:51] resouer commented on #344
ping @liyanyanli , any progress or update here?

[2018-10-19 15:48] liyanyanli commented on #344
I am very sorry, the progress is a bit slow, I am trying my best to update vendor.

[2018-11-02 04:33] #281 closed

[2018-11-15 22:29] cblecker opened #348 "frakti permissions cleanup"
Hey frakti team!

I'd like to help clean up some of the github permissions to this repo.

Right now there are the following teams with permissions to this repo:
- @kubernetes/frakti-admins - admin access
- @kubernetes/frakti-maintainers - write access

And in addition, there are the following collaborators with direct permission:
- @bergwolf - write
- @Crazykev - read
- @heartlock - read
- @ZeroMa

[2018-11-16 02:01] feiskyer commented on #348
@gnawux @bergwolf I'm not active for the project recently and I'd like to remove myself from the maintainers' list. Would some of you replace me in the kubernetes/frakti-maintainers and kubernetes/frakti-admins team?

[2018-11-16 02:56] resouer commented on #348
Thanks! @feiskyer I believe @bergwolf 's contribution would be strong reference as new frakti maintainer.

I believe @Crazykev @heartlock will still be able to assign issues, I would like to mentor them go through membership ladder (and @bergwolf as well).

@cblecker Please kindly give me some time to fix the legacy issues here. Any deadline from your side?

[2018-11-16 03:29] cblecker commented on #348
No specific deadline, no. As long as it’s in progress, I’m happy.

If there is anything I can do to help, please let me know.

[2018-11-16 04:32] gnawux commented on #348
Thanks @feiskyer.

Agree with @resouer, I think @bergwolf, who is in Berlin this week and not online at this time, will continue this work.

[2019-01-03 11:57] #288 closed

[2019-01-17 21:51] resouer commented on #344
Already done!

[2019-01-17 21:51] #344 closed

[2019-02-01 01:54] mikeroyal opened #352 "Snap package suppport"
I was thinking the install and setup could be improved for Ubuntu and other Linux distros by having a [snap package](https://snapcraft.io/) version. If it's not a priority would you mind if I made the snap as a contribution?

[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Build and test snap](https://snapcraft.io/build)

[Getting Started snap template]

[2019-02-14 19:29] cblecker commented on #348
/remove-lifecycle stale

@resouer @bergwolf Any update on this?

[2019-05-15 22:10] cblecker commented on #348
/remove-lifecycle stale

@resouer @bergwolf Any update on this?

[2019-06-02 18:56] #352 closed

[2019-08-13 22:19] cblecker commented on #348
/remove-lifecycle stale

[2019-09-18 20:58] photoszzt commented on #181
I want to use this unikernel runtime. Without CNI plugin, is that mean I can't make network connection inside Kubernetes cluster?

[2019-09-18 22:31] resouer commented on #181
@photoszzt Currently it's not fully implemented.

[2019-10-28 22:03] mrbobbytables commented on #348
@resouer @feiskyer
Checking back in regarding outside collaborators. At this point it's been over a year since the original issue was created 😬 We're now actively planning to clean up outside collaborators org wide on December 1st.

@ZeroMagic has been active ideally should apply for membership (along with being added to [frakti-maintainers](https://github.com/kubernetes/org/blob/d59dda41f8e9adb10

[2019-12-01 14:01] mrbobbytables commented on #348
Permissions have been cleaned up. @Crazykev, @heartlock, @bergwolf if you need permissions to continue to work on fraki, Please go ahead and file for [org membership](https://github.com/kubernetes/community/blob/master/community-membership.md#member) and we can pursue adding you the appropriate groups for repo permissions 👍

If you have any questions, please don't hesitate to reopen or ping me on

[2019-12-01 14:01] #348 closed

[2021-09-24 14:53] mrbobbytables commented on #149
repo is to be archived, closing issue.
ref: https://github.com/kubernetes/org/issues/2847

/close

[2021-09-24 14:53] mrbobbytables commented on #222
repo is to be archived, closing issue.
ref: https://github.com/kubernetes/org/issues/2847

/close

[2021-09-24 14:53] #149 closed

[2021-09-24 14:54] #222 closed